.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right {
    flex: 1;
}

/* image background */
.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

/* card style (relative and hidden) */
.a-card {
    height: 60%;
    width: 70vh;
    border-radius: 30px;
    position: relative;
    /* it helps to hidden image corners */
    overflow: hidden; 
}

.a-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.a-title {
    font-weight: 400;
}
  
.a-sub {
    margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
}

.a-award {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-img {
    height: 120px;
    width: 120px;
}

.a-award-texts{
    width: 70%;
}

.a-award-title {
    font-weight: bold;
    margin-bottom: 10px;
}