$primaryColor: #006c4a;
$primaryTextColor: #ffffff;
$backgroundColor: #fbfdf8;
$backgroundTextColor: #191c1a;
$secondaryColor: #4d6357;
$secondaryTextColor: #ffffff;
$secondaryContainerColor: #d0e9d9;